$background-project: #e7f6ff;
$gray-icon: #9b9b9b;
$gray-title: #9d9d9d;
$gray-basket-price: #5c5c5c;
$gray-light-card-item: #f8f8f8;
$header-line: #eaeaea;

$white: #ffffff;

$black: #00000000;

$button-big: #9dd458;

$button-card-done: linear-gradient(180deg, #89f09c 0%, #3cc755 100%);
