// fonts
$font-title-section: 32px;
$font-title-cards-item: 14px;
$font-price-cards-item: 11px;
$font-logo-title: 20px;
$font-logo-title-h4: 14px;

//width
$width-main-block: 1080px;

// margin
$margin-block: 40px 60px;
$margin-t-carusel: 45px 0px 0px 0px;
$margin-t: 40px 0px 0px 0px;
$wrapper-margin: 85px;

// padding
$padding-card: 20px 38px 34px 38px;
$padding-wrapper: 0px 60px;
$padding-header: 43px 55px;
